@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

body{
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../img/лист1.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.header{
    max-width: 100%;
    height: 100px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

.logo{
    margin-left: 20px;
}

.button-header-top{
    font-size: 22.11px;
    border: 1px solid #F3F3F3;
    background-color: #F3F3F3;
    border-radius: 50px;
    padding: 8px 16px 8px 16px;
    margin-right: 20px;
}

.content{
    margin-top: 50px;
}

.text-1{
    margin-left: 200px;
    font-size: 36px;
}

.blok{
    margin-left: 200px;
    margin-top: 20px;
    width: 790px;
    height: 336px;
    background-color: #9A1212;
    border-radius: 40px 90px 90px 40px;
    display: flex;
}

.text-2{
    margin-right: 20px;
    padding-top: 30px;
    width: 582px;
    font-size: 32px;
    color: #fff;
    text-align: right;
}

.footer{
    margin-top: 100px;
    max-width: 100%;
    height: 100px;
    background-color: #F3F3F3;
    background-image: url(../img/лист1.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.footer>img{
    margin-top: 20px;
    margin-left: 20px;
}