@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

.section-color{
    background-color: #9A1212;
}

.img-button{
    margin-right: 15px;
}

.h1-typography{
    font-family: 'Jost', sans-serif;
    color: white;
    font-size: 64px;
    text-align: right;
}

.h2-typography{
    font-family: 'Jost', sans-serif;
    color: white;
    font-size: 96px;
    text-align: right;
}

.p-typography{
    margin-top: 40px;
    font-family: 'Jost', sans-serif;
    color: white;
    font-size: 18px;
    text-align: right;
}

.h2-zag1{
    font-family: 'Jost', sans-serif;
    font-size: 96px;
    letter-spacing: 20px;
}

a{
    text-decoration: none !important;
}

.p-text-slider{
    font-family: 'Jost', sans-serif;
    font-size: 29.23px;
    color: #9A1212;
    text-align: center;
}

footer{
    font-family: 'Jost', sans-serif;
    height: 100px;
    background-color: #f3f3f3;
    font-size: 24px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
